html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    /*background: url('../../../res/spørgsmålsoversigt.png') -119px -75px;*/
    font-size: 16px;
    font-family: "Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Medium","Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    overflow: hidden;
}
.panel {
    height: 100%;
    font-size: .8em;
}
.panel.left {
    width: 28%;
    float: left;
    padding: 1% 0 0 6%;
}
.panel.right {
    width: 53%;
    float: right;
    padding: 7% 7% 0 0;
    overflow-y: auto;
}
.panel.left div {
    background: #fff;
}

.controls .left {
    position: absolute;
    bottom: 2%;
    left: 6%;
}

.controls .right {
    position: absolute;
    bottom: 2%;
    right: 6%;
}

.controls img {
    height: 4em;
    width: 4em;
    padding-right: 1em;
}

#picture_main {
    background: no-repeat 50% 57%;
    background-size: 80% 34%;
    width: 100%;
}
#name_work {
    font-size: 1.4em;
}
#description {
}